<h1>圖書館管理系統</h1>

<%= link_to "新增書本", new_book_path %>

<table>
  <thead>
    <tr>
      <td>書本名稱</td>
      <td>介紹</td>
      <td>作者</td>
      <td>價錢</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td><%= link_to book.name, book_path(book) %></td>
      <td><%= book.introduction %></td>
      <td><%= book.writer_name %></td>
      <td><%= book.price %></td>
      <td>
        <%= link_to "編輯", edit_book_path(book) %>
        <%= link_to "刪除", book_path(book), method: "delete", data: { confirm: "確認刪除" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>